<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @person.userid %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Job:</strong>
  <%= @person.job %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
